<?xml version="1.0" encoding="utf-8"?>
<Coverity.Prevent.Desktop.Configuration>
  <DefectsFoundBy>
    <DefectsSource>None</DefectsSource>
    <LastFoundBy />
    <DefectSourceStream />
    <DefectSourceLanguage />
  </DefectsFoundBy>
  <Version>6.0.3</Version>
  <InitialWizardWasShown>false</InitialWizardWasShown>
  <DataBase>
    <UseSSL>false</UseSSL>
    <SavePassword>true</SavePassword>
    <RemoteDbLocation />
    <RemoteDbPort>8080</RemoteDbPort>
    <UserName />
    <UserPassword />
  </DataBase>
  <CentralAnalysisEnabled>false</CentralAnalysisEnabled>
  <CentralAnalysisProject />
  <LocalAnalysisStreams />
  <AnalysisScope />
  <ShowAllDefectsInSourceFiles>false</ShowAllDefectsInSourceFiles>
  <UseGlobalRemoteSettings>true</UseGlobalRemoteSettings>
  <UseSolutionBuildSettings>false</UseSolutionBuildSettings>
  <StripPaths>
    <RemoteStripPaths />
    <LocalStripPaths />
  </StripPaths>
  <LocalAnalysisEnabled>false</LocalAnalysisEnabled>
  <LocalAnalysisCores>1</LocalAnalysisCores>
  <LocalAnalysisContinueOnError>false</LocalAnalysisContinueOnError>
  <CICLocation>C:\Program Files\Coverity\Coverity Static Analysis\bin</CICLocation>
  <CICLicense>C:\Program Files\Coverity\Coverity Static Analysis\bin\license.dat</CICLicense>
  <EmitLocation>${Solution}</EmitLocation>
  <CppAnalysisConfig>
    <BuildConfig>
      <BuildWithInstrument>false</BuildWithInstrument>
      <BuildOptions>--preprocess-next</BuildOptions>
      <PostBuild />
    </BuildConfig>
    <AnalysisOptions>--parse-warnings-config   parse_warnings.conf</AnalysisOptions>
    <PostAnalyze />
    <PostCommit />
    <UseSolutionCheckers>false</UseSolutionCheckers>
    <Checkers>
      <Checker>
        <Name>ARRAY_VS_SINGLETON</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>ASSERT_SIDE_EFFECT</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>ASSIGN_NOT_RETURNING_STAR_THIS</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>ATOMICITY</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BAD_ALLOC_ARITHMETIC</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BAD_ALLOC_STRLEN</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BAD_COMPARE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BAD_FREE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BAD_OVERRIDE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BAD_SIZEOF</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BUFFER_SIZE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>CHAR_IO</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>CHECKED_RETURN</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>CHROOT</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>COM.BAD_FREE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>COM.BSTR.ALLOC</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>COM.BSTR.BAD_COMPARE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>COM.BSTR.CONV</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>COM.BSTR.NE_NON_BSTR</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>CONSTANT_EXPRESSION_RESULT</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>COPY_PASTE_ERROR</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>COPY_WITHOUT_ASSIGN</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>CTOR_DTOR_LEAK</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>DEADCODE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>DELETE_ARRAY</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>DELETE_VOID</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>DIVIDE_BY_ZERO</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>ENUM_AS_BOOLEAN</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>EVALUATION_ORDER</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>FORWARD_NULL</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options>
          <CheckerOption>
            <Name />
            <Value />
          </CheckerOption>
        </Options>
        <Tags />
      </Checker>
      <Checker>
        <Name>INCOMPATIBLE_CAST</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>INFINITE_LOOP</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>INTEGER_OVERFLOW</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>INVALIDATE_ITERATOR</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>LOCK</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>MISMATCHED_ITERATOR</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>MISRA_CAST</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>false</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>MISSING_BREAK</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>MISSING_COPY_OR_ASSIGN</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>MISSING_LOCK</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>MISSING_RETURN</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>MIXED_ENUMS</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>NEGATIVE_RETURNS</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>NO_EFFECT</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>NULL_RETURNS</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>OPEN_ARGS</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>ORDER_REVERSAL</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>OVERFLOW_BEFORE_WIDEN</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>OVERRUN</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>OVERRUN_DYNAMIC</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>OVERRUN_STATIC</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>PARSE_ERROR</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>PARSE_WARNINGS</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>PASS_BY_VALUE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>READLINK</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>RESOURCE_LEAK</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>RETURN_LOCAL</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>REVERSE_INULL</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>REVERSE_NEGATIVE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>SECURE_CODING</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>SECURE_TEMP</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>SELF_ASSIGN</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>SIGN_EXTENSION</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>SIZECHECK</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>SIZEOF_MISMATCH</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>SLEEP</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>STACK_USE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>false</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>STRAY_SEMICOLON</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>STREAM_FORMAT_STATE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>STRING_NULL</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>STRING_OVERFLOW</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>STRING_SIZE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>TAINTED_SCALAR</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>TAINTED_STRING</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>TOCTOU</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>UNCAUGHT_EXCEPT</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options>
          <CheckerOption>
            <Name>except_ignore</Name>
            <Value>CAtlException</Value>
          </CheckerOption>
          <CheckerOption>
            <Name />
            <Value />
          </CheckerOption>
        </Options>
        <Tags />
      </Checker>
      <Checker>
        <Name>UNINIT</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>UNINIT_CTOR</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>UNREACHABLE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>UNUSED_VALUE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>USE_AFTER_FREE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>USER_POINTER</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>VARARGS</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>VIRTUAL_DTOR</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>WRAPPER_ESCAPE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>SMART_POINTER</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>true</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>SETTINGPERSISTENTDATAMUSTFOLLOWUPDATE</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>true</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>RETURNTHIS</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>true</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>RESMGR_CLASS</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>true</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>IMPROPER_SYSFREESTRING</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>true</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BAD_OPERATOR</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>true</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BADSTLCONT</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>true</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BADOPAMP</Name>
        <AnalysisType>Cpp</AnalysisType>
        <Active>true</Active>
        <Sdk>true</Sdk>
        <Options />
        <Tags />
      </Checker>
    </Checkers>
  </CppAnalysisConfig>
  <CsAnalysisConfig>
    <BuildConfig>
      <BuildWithInstrument>false</BuildWithInstrument>
      <BuildOptions />
      <PostBuild />
    </BuildConfig>
    <AnalysisOptions />
    <PostAnalyze />
    <PostCommit />
    <UseSolutionCheckers>false</UseSolutionCheckers>
    <Checkers>
      <Checker>
        <Name>ATOMICITY</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BAD_EQ</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>BAD_EQ_TYPES</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>CALL_SUPER</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>FORWARD_CLASSCAST</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>false</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>FORWARD_NULL</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>GUARDED_BY_VIOLATION</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>INDIRECT_GUARDED_BY_VIOLATION</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>LOCK_INVERSION</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>LOCK_ORDERING</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>MUTABLE_COMPARISON</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>MUTABLE_HASHCODE</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>NON_STATIC_GUARDING_STATIC</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>NULL_RETURNS</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>RESOURCE_LEAK</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
      <Checker>
        <Name>REVERSE_INULL</Name>
        <AnalysisType>CSharp</AnalysisType>
        <Active>true</Active>
        <Sdk>false</Sdk>
        <Options />
        <Tags />
      </Checker>
    </Checkers>
  </CsAnalysisConfig>
  <ComponentMap>Default</ComponentMap>
  <DevProject>Developer Streams</DevProject>
  <PrivateProjectPattern>Developer Streams</PrivateProjectPattern>
  <ReminderSettingsUpdate d2p1:nil="true" xmlns:d2p1="http://www.w3.org/2001/XMLSchema-instance" />
  <PageSize>50</PageSize>
  <TriageStorePattern>Default Triage Store</TriageStorePattern>
  <SolutionFiles />
</Coverity.Prevent.Desktop.Configuration>